{% extends "main_template.html" %}
{% load static %}
{% block section-content %}

<section class="content">
    <br/>
    <div class="container-fluid">
        <div class="row">
            
            {% include "cards-category.html" %}
            
        </div>

    </div>

    {% if next_wf %}
    
        <br/>
        <p>Siguiente paso en el WF: </p> 
    
        {% if next_wf_param %}
            <a href="{% url next_wf next_wf_param %}" class="btn btn-dark">Continuar con el Work Flow</a>
        {% else %}
            <a href="{% url next_wf %}" class="btn btn-dark">Continuar con el Work Flow</a>
        {% endif %}
    
    {% endif %}
    
    <br/><br/>
    
</section>

{% endblock section-content %}

{% block special_javascript %}

<script src="{% static 'js/chartjs-library.js' %}"></script>
<script src="{% static 'js/charts-custom.js' %}"></script>

<script src="{% static 'js/data-table-custom.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/data-table-custom.css' %}"></link>


{% endblock %}