{% load static %}

{% for problem in problems %}

    <div class="card col-md-4 col-lg-4 col-xl-4 col-sm-6 col-12">
        <div style="height: 500px; width:100%;">
            <img height="100%" width="100%" class="card-img-top" src="{{ problem.image.url  }}" alt="Card image cap">
        </div>
        <div class="card-body">
            <h2 class="card-title">{{problem.name}}</h2>
            <p class="card-text">{{problem.description | safe }}</p>
            <a href="{{ problem.url }}" class="btn btn-primary">Comenzar</a>
        </div>
    </div>
    
{% endfor %}