{% load static %}
<div class="col-lg-12 col-6">
    
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Data</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table  class="table table-striped table-bordered"  id="first-data" >
                <thead>
                    <tr>
                        <th>HOSPITAL</th>
                        <th>AMBITO</th>
                        <th>IDENTIFICADOR</th>
                        <th>FECING</th>
                        <th>UCI</th>
                        <th>DIASUCI</th>
                        <th>FECALT</th>
                        <th>TIPALT</th>
                        <th>D1</th>
                        
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>HOSPITAL</th>
                        <th>AMBITO</th>
                        <th>IDENTIFICADOR</th>
                        <th>FECING</th>
                        <th>UCI</th>
                        <th>DIASUCI</th>
                        <th>FECALT</th>
                        <th>TIPALT</th>
                        <th>D1</th>
                        
                    </tr>
                </tfoot>
            </table>
        </div>
        <!--- /.card-body  -->
    </div>
    <!-- ./card -->
</div>
<!-- ./col -->

