/* Estilo para los nodos de dimensión */
span.fancytree-dimension > span.fancytree-title {
    color: rgb(64,132,180);
    font-weight: bold
  }
  
  span.fancytree-jerarquia > span.fancytree-title {
    color: rgb(48,164,68);
    font-weight: bold
  }

  span.fancytree-jerarquia-defecto > span.fancytree-title {
    color: rgb(48,164,68);
    font-weight: bold;
    text-decoration: underline;
  }
  
  span.fancytree-nivel > span.fancytree-title {
    color: rgb(255, 196, 4);
    font-weight: bold
  }

  span.fancytree-nivel-actual > span.fancytree-title {
    color: rgb(255, 196, 4);
    font-weight: bold
  }

  .emoji-flecha {
  margin-left: 8px;
  font-size: 1.2em;
  }

  .titulo-nivel {
    display: inline-block;
    
  }
  
  .btn {
    width: 150px; 
    text-align: center;
  }
  
  .botonBorrar {
    margin-left: 15px;
    color: white;
  }

  .icono-dimension {
    background-position: 0 0;
    background-image: url("../img/dimension.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .icono-jerarquia {
    background-position: 0 0;
    background-image: url("../img/jerarquia.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .icono-nivel {
    background-position: 0 0;
    background-image: url("../img/nivel.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  span.fancytree-iconodimension > span.fancytree-icon {
    background-position: 0 0;
    background-color: rgb(69, 198, 95);
    background-image: url("{% static 'img/dimension.png' %}");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .dimension-container {
    margin-bottom: 20px;
  }

  .lista-ordenable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
  }

  .lista-ordenable li {
    margin: 2px;
    padding: 8px;
    height: 1.5em;
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
    border: 1px solid #289c44;
  }

  /* Estilos generales para select2 */
  .select2-container .select2-selection--single {
    height: 40px; 
    display: flex;
    align-items: center;
  }

  .select2-container .select2-selection__rendered {
    line-height: normal; 
    padding: 0 8px; 
    align-items: center;
  }

  .select2-container .select2-selection__arrow {
    height: 100%;
    display: flex;
    align-items: center;
  }

  /*
  #contenedorGraficosResumen {
    display: flex;
    justify-content: space-around; /* o space-between / center según tu gusto 
    gap: 20px;
    flex-wrap: wrap; /* por si no caben todos en pantalla pequeña 
  }*/


  #resumenPrincipal {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 90%;
}

  #contenedorGraficosResumen {
  flex-grow: 1;
  display: flex;
  /*max-width: 80%;*/
  justify-content: center; 
  /*flex-wrap: wrap; */
  gap: 20px;
  /*width: 90%;*/
}

#botonOcultarDatosContainer {
  width: 100px; 
  display: flex;
  align-items: flex-end; 
}

#botonOcultarGraficoContainer {
  width: 100px; 
  display: flex;
  align-items: flex-start; 
}

  .graficos-resumen {
  display: flex;
  justify-content: center; 
  gap: 20px;
  flex-wrap: wrap; /* que si hay muchos se vayan a la siguiente línea */
  
}

/*
.graficos-resumen canvas {
  flex: 1;
  max-width: 100%;
  height: 300px;

}*/

.grafico-caja {
  flex: 0 0 300px;
  box-sizing: border-box;

}

.grafico-caja canvas {
  width: 100% !important;
  height: 35vh !important; /* 30% de la altura visible de la ventana */
  display: block;
}

/*
  .grafico-dimension {
    ;  
    min-width: 250px;
  }*/


#botonOcultarDatos {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

#botonOcultarDatos:hover {
  color: rgb(94, 11, 11);
}

#botonOcultarGrafico {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
}

#botonOcultarGrafico:hover {
  color: rgb(94, 11, 11);
}

#diceChart {
  /*width: 600px;   */
  max-width: 60vw; 
  height: 100px; 
  display: block; 
  margin: 0 auto; 
}